.content {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 25px;
  width: 100%;
}

.content .contentImage {
  flex: 1;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.content .contentImage img {
  width: 70%;
  border-radius: 10px;
}

.content .details {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.content .details .detailsTopic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: var(--first-color-light);
  width: 400px;
  max-width: 100%;
}

.content .details .description {
  font-size: 15px;
  width: 100%;
  text-align: justify;
  color: var(--text-color);
}

.content .details .downloadCV {
  width: 150px;
  height: 40px;
  min-height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-weight: 400;

  background-color: var(--first-color);
  color: var(--button-text-color);

  border-radius: 5px;
}

.content .details .downloadCV:hover {
  background-color: var(--button-color);
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
  }

  .content .contentImage {
    width: 100%;

    padding: 10px 0;
  }

  .content .contentImage img {
    height: auto;
    max-width: 100%;
  }

  .content .details {
    width: 100%;

    padding: 20px 0;

    gap: 20px;
  }
}
