.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;

  background-color: transparent;

  width: 100vw;
  height: 100px;

  position: fixed;
  top: 0;
  left: 0;

  padding: 0 70px;
}

.content.floating {
  position: fixed;
  left: 0;

  padding: 20px;

  height: 100vh;
  width: fit-content;

  flex-direction: column;

  z-index: 20;
}

.content ul {
  display: flex;
  gap: 15px;
  flex: 1;
}

.content.floating ul {
  flex-direction: column;
  width: fit-content;
  gap: 20px;
}

.content ul a {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
}

.content ul a.highlight {
  color: var(--first-color-light);
}

.content ul a .icon {
  display: none;
}

.content.floating ul a .icon {
  display: block;
  font-size: 20px;
}

.content .changeLanguage {
  display: flex;
  gap: 15px;
  align-items: center;
}

.content.floating .changeLanguage {
  flex-direction: column;
}

.content .changeLanguage button {
  display: flex;
  aspect-ratio: 1;
  opacity: 0.85;
}

.content .changeLanguage img {
  width: 25px;
  aspect-ratio: 1;
}

.content .themeToggle {
  font-size: 18px;
  transition: 150ms;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content .changeLanguage button:hover, .content .themeToggle:hover {
  color: var(--highlight-color);
  opacity: 1;
}

@media (max-width: 700px) {
  .content ul {
    gap: 25px;
  }

  .content.floating ul {
    gap: 20px;
  }

  .content ul a .icon {
    display: block;
    font-size: 25px;
  }

  .content .themeToggle {
    font-size: 25px;
  }

  .content ul a p {
    display: none;
  }
}

@media (max-width: 500px) {
  .content {
    height: 120px;
  }

  .content>ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .content.floating>ul {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 20px;
  }

  .content.floating {
    width: 30px;
  }
}