.container {
  width: 100vw;
  min-width: 320px;

  display: flex;
  flex-direction: column;
  gap: 50px;

  background-color: var(--background-color);
  color: var(--text-color);

  padding: 0 70px;
}

@media (max-width: 400px) {
  .container {
    padding: 0 50px;
  }
}
