.dark-theme {
  --first-color: #a41728;
  --first-color-light: #a7414c;
  --second-color: #111;
  --highlight-color: #821421;
  --gray: #444;
  --title-color: #eee;
  --background-color: #0a0909;
  --background-color-secondary: linear-gradient(
    to right,
    #0a0909,
    #0f0c0c,
    #0a0909
  );
  --text-color: #eee;
  --text-color-light: #aaa;
  --button-color: #a7414c;
  --button-text-color: #fff;
}

.light-theme {
  --first-color: #a41728;
  --first-color-light: #a7414c;
  --second-color: #eee;
  --highlight-color: #ac0014;
  --gray: #999;
  --background-color: #fff;
  --background-color-secondary: #f1f1f1;
  --background-color-secondary: linear-gradient(to right, #fff, #f1f1f1, #fff);
  --title-color: #111;
  --text-color: #111;
  --text-color-light: #555;
  --button-color: #a7414c;
  --button-text-color: #fff;
}
